*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#2185e2,#008cff);
}

.container{
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container.title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    border: linear-gradient(135deg,#417292,#8e59a3);
}


.deskripsi{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;

}

.deskripsi::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 150px;
    background: #9b59b6;
    left: 0;
    bottom: 0;
}

.container form .user-details{
    display: run-in;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: linear-gradient(135deg,#417292,#8e59a3);
}

form .roles-details .Roles-Title{
    font-size: 20px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form .roles-details .kategori{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.roles-details .kategori label{
    display: flex;
    align-items: center;
}

.roles-details .kategori .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .kategori label .one,
#dot-2:checked ~ .kategori label .two{    
    border-color: #d9d9d9;
    background: #7b14a3;
}

form input[type="radio"]{
    display: none;
}

form .buttom{
    height: 45px;
    margin: 45px 0;
}

form .buttom input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: linear-gradient(135deg,#417292,#8e59a3);
}

form .buttom input:hover{
    background: linear-gradient(135deg,#417292,#8e59a3);
}

@media screen {
    @media (max-width: 584) {
        .container{
            max-width: 100%
    }
    
    form .roles-details .kategori{
        width: 100%;
    }
    
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    
    .user-details::-webkit-scrollbar {
        width: 1px;
    }
}